*{
  margin:0;
  padding:0;
  box-sizing:boder-box;
}

.container {
  width: 95vw;
  height: 95vh;
  text-align: center;
}

.inside {

  margin-top:100px;
  padding:20px;
}

.dice {
 
  display: inline-block;

}

body {
  background-color: black;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #0092CA;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  border:5px solid beige;
  border-radius: 40px;
}

footer {
  margin-top:25px;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#clickme {
 display:block;
 padding:10px;
 font-size:2rem;
 border-radius:10px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 background-color: #4ECCA3;
 position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%); 
  
  
}
